Checks: >
  -*,
  misc-*,
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  concurrency-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  # Misc exclusions, 
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes, 
  # Bugprone exclusions, 
  -bugprone-easily-swappable-parameters,
  # Performance exclusions, 
  -performance-no-int-to-ptr,
  -performance-unnecessary-value-param,
  # Modernize exclusions, 
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  # Readability exclusions, 
  -readability-magic-numbers, # cppcoreguidelines-avoid-magic-numbers is still enabled, don't need two rules,
  -readability-identifier-length, # don't care about short names,
  -readability-container-contains, # doesn't work for files compiled for both C++17 and C++20,
  -readability-function-cognitive-complexity
  # CPP core guidelines exclusions, 
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-magic-numbers,
WarningsAsErrors: "*"
